[ req ]
default_bits = 4096
default_keyfile = /certs/ServerCertificateKey.pem    ## The default private key file name.
default_md = sha256
distinguished_name = req_dn
req_extensions = v3_req
prompt = no

[ v3_req ]
subjectKeyIdentifier  = hash
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
nsComment = "OpenSSL Generated Certificate"
extendedKeyUsage  = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = FQDNHOSTNAME
DNS.2 = localhost
IP.1 =  IPADDRESS
IP.2 =  127.0.0.1

[ req_dn ]
countryName = US
stateOrProvinceName = NY
localityName = NewYork
organizationName = MongoDB
organizationalUnitName = Server
commonName = FQDNHOSTNAME